.input-group {
  position: relative;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-input-password-toggle-button {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type="password"]::-webkit-input-password-toggle {
  display: none;
}

input[type="password"]::-o-input-password-toggle {
  display: none;
}
.input-pass-group{
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}


.eye-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.eye-toggle-btn:hover {
  background: #b4ceec;
}

.eye-icon {
  width: 22px;
  height: 22px;
  fill: #ff9900;
  transition: fill 0.2s;
}