.recovery-container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
}

.recovery-link {
  margin-bottom: 20px;
}

.recovery-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.recovery-container h2 {
  color: #365A7D;
  margin: 10px 0;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.recovery-container p {
  color: #728CA4;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.recovery-decoration {
  background: linear-gradient(to right, #F7C7DE, #D9F4FF , #B4CEEC);
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.recovery-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.recovery-logo img {
  height: 50px;
}

hr {
  width: calc(100% + 60px);
  height: 2px;
  background-color: #b4ceec;
  border: none;
  margin: 10px -30px;
}

.form-error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  display: block;
}

@media (max-width: 600px) {
  .recovery-container {
    width: 100vw;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .recovery-container h2 {
    font-size: 20px;
  }
}
